 body {
            background-color: #f6f6f6;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            font-family: Arial, sans-serif;
        }
        .left, .right {
            display: inline-block;
        }
        .left {
            width: 450px;
            margin-top: 70px;
        }
        .right {
            width: 300px;
        }
        .form-container {
            display: flex;
            flex-direction: column;
            gap: 10px;
            background-color: white;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 0 10px #ccc;
            width: 100%;
        }
        input {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
        }
        button {
            background-color: #1877f2;
            border: none;
            border-radius: 5px;
            color: white;
            padding: 10px 20px;
            cursor: pointer;
            width: 100%;
            font-size: 16px;
        }
        button.signup {
            background-color: #42b72a;
            margin-top: 20px;
        }
        a {
            color: #1877f2;
            text-decoration: none;
            font-size: 14px;
            text-align: center;
        }
